@font-face {
    font-family: "Tapeman";
    src: url("fonts/tapem__.ttf") format("truetype")
  }

@font-face {
    font-family:"input-mono";
    src:url("https://use.typekit.net/af/f1b774/00000000000000007735b11b/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/f1b774/00000000000000007735b11b/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/f1b774/00000000000000007735b11b/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:200;font-stretch:normal;
    }

* {
    box-sizing:border-box;
}


h1, h2, h3, h4 {font-family: "Tapeman"}

h1 {
    font-size: 150px ;
    color: #D5A995;
}

h2 { font-size: ; }

h3 { font-size: ;  }

h4 {font-size: ;  }

img { width: 100%;}

main {
    background: #F8F8F2;
}

header {
    width: 80%;
    margin: 0px auto;      
}

html, body {
    height: 100%;
    width: 100%;
  }

nav image{
    width:20%;
}

body {
    margin: 0;
    scroll-behavior: horizontal;
    font-family: input-mono, monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    padding: 40px;
    background: #F8F8F2;
    cursor: url(images/jack-plug.png) , auto;
}


    header {
        margin: 40px auto;   
    }
    
    main {
    width:600vw;
    display:flex;
    padding: 40px;
    }

    section {
    flex:100vw;
    height:100vh;
    }

    nav .card-icon{
    width:50px;  
    }

    /* intro page*/

    .page-intro {
        background: #F8F8F2;
        background-repeat: repeat;
        background-image: url("images/square-grid.png") /*help w opacity*/
    }

    .sony-box {
        width: 600px;
        position: absolute;
    }

    .manual-contents {
        width: 100px;
      }

/*card page*/

    .page-card {
        background: #F8F8F2;
        background-repeat: repeat;
        background-image: url("images/square-grid.png") /*help*/
    }

    .page-hotline {
        background:#F8F8F2;
    }

    .page-three {
        background:#303647;
    }
    .circle {
        background-color:#E3C8BC;
        height:500px;
        width:500px;
        border-radius: 50%;
    }
    .card-slide {
        width:500px;  
        margin: 0px;
    }

    .open-card {
        position: relative;
        top: 60;
        left: 0;
      }
      .sleeve {
        position: relative;
        top: 0;
        left: 0;
      }
      .card{
        position: absolute;
        top: 0px;
        left: 100px;
      }
      .circle {
      position: relative;
      left: 50px;

      }

      /*hotline page*/

.hotline{
margin: 0px;

}

.hotline-jack {
    width: 500px;
    margin-top: 100px;
    position:absolute; 

  }
      .hotline-text {
        font-size: 14px;
        width: 340px;
        margin: 20px;
        color: black; /*should be cream color*/
      }

      .hotline-text-box {
        width: 700px;
        position: absolute;
      }


      .hotline-walking-walkman {
        width: 400px;
        position:absolute; 
      }

      .hotline-line-blue {
        width: 800px;
      }

      .hotline-walkman-logo {
        width: 700px;
        position:absolute; 
      }


/*listen page*/

    .listen-text{
        font-size: 14px;
        width: 420px;
        margin: 20px;
        color: black; /*should be cream color*/
      }

    .listen-text-box{
        width: 700px;
        position: absolute;
    }


      /* blue page */

      .stereo-side {
        width: 500px;
      }

      .silver-side {
        width: 500px;
    }


    .back-side {
        width: 500px;
     }

      @-webkit-keyframes pulse {
        0% { box-shadow:0 0 8px #F8F8F2, inset 0 0 8px #F8F8F2; }
        50% { box-shadow:0 0 16px #F8F8F2, inset 0 0 14px #F8F8F2; }
        100% { box-shadow:0 0 8px #F8F8F2, inset 0 0 8px #F8F8F2; }
      }

.halo {
    background-color:transparent;
    width:800px;
    height:800px;
    border-radius:500px;
    box-shadow: 0 0 8px #F8F8F2, inset 0 0 8px #F8F8F2;
    -webkit-animation: pulse 2s linear 1s infinite;
  }


