@font-face {
    font-family: "Tapeman";
    src: url("fonts/tapem__.ttf") format("truetype")
  }

@font-face {
    font-family:"input-mono";
    src:url("https://use.typekit.net/af/f1b774/00000000000000007735b11b/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/f1b774/00000000000000007735b11b/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/f1b774/00000000000000007735b11b/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:200;font-stretch:normal;
    }

* {
    box-sizing:border-box;
}


h1, h2, h3 {font-family: "Tapeman"}

h1 {
    font-size: 142px ;
    color: #D5A995;
}

h2 { font-size: ; }

h3 { 
  font-size: 20px ; 
  color: #D5A995; 
}

h4 {
  font-family: "input-mono";
  font-size: 18;
  color:#303647;
  }

img { width: 100%;}

main {
    background: #F8F8F2;
    width:700vw;
    display:flex;
}

header {
    width: 80%;
    margin: 0px auto;      
}

html, body {

    scroll-behavior: smooth;
    scroll-behavior: horizontal;
  }



body {
    margin: 0;
    font-family: input-mono, monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    background: #F8F8F2;
    cursor: url(images/cursor%20arrow.png), auto;
}


    nav {
      position:absolute;
      top:0;
      left:0;
    }
    .nav-img {
      width:300px;
    }

    section {
    flex:100vw;
    height:100vh;
    }


    /* intro page*/

    .page-intro {
        background: #F8F8F2;
        background-repeat: repeat;
        /*background-blend-mode:color-burn;*/
        background-image: url("images/square-grid.png")/*help w opacity*/
    }

    .sony-box {
        width: 25%;
        position: absolute;
        margin-top: 300px;
        margin-left: 160px;
    }

    .intro-walkman {
      margin-top: 360px;
      margin-left: 490px;
      stroke:#F8F8F2;
      stroke-width: 2%;
      width: 25%;
    }


/*opening text page */

.page-opening-text{
  color:#303647;
  background: #F8F8F2;
  background-repeat: repeat;
  background-image: url("images/square-grid.png");
  justify-content: center;
  justify-items: center;
}

.page-opening-text h4 {
  margin-top: -500px;
}

.page-opening-text h4 {
  text-align: center;
  transform: scale(1);
  margin-top: 50%;
}


/* contents page*/

.manual-contents {
  width: 55%;
  align-content: center;
}


.page-contents{
  background: #F8F8F2; 
  background-repeat: repeat;
  background-image: url("images/square-grid.png");
  justify-content:center
}

      img .page-contents {
        width: 80%;
      }
  
/*card page*/

    .page-card {
        background: #F8F8F2;
        background-repeat: repeat;
        background-image: url("images/square-grid.png"); /*help*/
        justify-content: center;
     
    }


    .page-playback {
        background:#F8F8F2;
        background-repeat: repeat;
        background-image: url("images/square-grid.png");
    }

    .page-anatomy {
        background:#303647;
    }

    .page-anatomy p {
      color:#F8F8F2;
      margin-left: 620px;
    }

    .box {
      background: #F8F8F2;;
      width: 200px;
      height: 1px;
      margin-left: 400px;
      transition: transform 1s linear;
      transform-origin: left;
      transform-style: preserve-3D;
    }
    
    .box-rotate {
      transform: scale(0);
    }
    
    .stereo-button {
      display: block;
      margin: auto;
    }
    .circle {
        background-color:#E3C8BC;
        width: 80%;
        border-radius: 50%;
    }
    .card-slide {
        width: 40%;  
        margin: 0px;
    }

    .open-card {
        position: relative;
        top: 160px;
        left: 0;
      }
      .sleeve {
        position: relative;
        top: 0;
        left: 0;
      }
      .card{
        position: absolute;
        top: 0px;
        left: 100px;
      }
      .circle {
        width: 50%;
      position: relative;
      left: 50px;

      }

      /*playback page*/

.playback{
margin: 0px;

}

.playback-h4 {
  transform: rotate(-90deg);
  margin-top: 0px;
  margin-left: -10px;
  margin-right: 1100px;
  margin-bottom: 0px;
  position: absolute;
}

.playback-jack {
    width: 220px;
    margin-top: 0px;
    margin-left: 400px;
    position:absolute; 

  }
      .playback-text {
        font-size: 10px;
        line-height: 2.0;
        width: 255px;
        margin-left: 320px;
        margin-top: 165px;
        color:#F8F8F2; /*should be cream color*/
        position: absolute;
      }

      .playback-text-box {
        width: 320px;
        position: absolute;
        margin-bottom: 100px;
        margin-left: 280px;
        margin-top: 140px;
      }


      .playback-walking-walkman {
        width: 40px;
        position:absolute; 
        margin-left: 355px;
        margin-top: 20px;
      }

      .playback-line-blue {
        width: 34%;
        position: absolute;
        margin-top: 410px;
        margin-left: 80px;
      }

      .playback-walkman-logo {
        width: 22%;
        position:absolute; 
        margin-left: -15px;
      }

      .playback-tapeman-trio {
        width: 40%;
        position: absolute;
        margin-left: -130px;
        margin-top: 50px;
      }

      .blue {
        margin-left: 498px;
        margin-top: 513px;
        font-size: 30px;
      }

/*controls page*/

.page-controls {
  background:#F8F8F2;
  background-repeat: repeat;
  background-image: url("images/square-grid.png");
}

.controls-walkman-wordmark{
  width: 20%;
  transform: rotate(-90deg)
}
.controls-h4 {
  transform: rotate(-90deg);
  position: absolute;
}


    .controls-text{
        font-size: 10px;
        line-height: 2;
        width: 330px;
        margin: 20px;
        color:#F8F8F2; 
        position:absolute;
        margin-top: 225px;
        margin-left: 32px;
      }

    .controls-text-box{
        width: 380px;
        position: absolute;
        margin-top: 200px;
        margin-left: 0px;
    }

    .controls-headphone{
      width: 100px;
      position: absolute;
}

.controls-line-silver {
  width: 40%;
  margin-top: 400px;
  position: absolute;

}

.controls-silver-side {
  width: 100px;
  position: absolute;
  margin-left: 420px;
}

.controls-first{
  width: 600px;
  position: absolute;
  margin-top: -40px;
  margin-bottom: 100px;
}
      /* blue anatomy page */

.page-anatomy{
      background-repeat: repeat;
      background-image: url("images/grid-light.png"); /*i want to rotate this image 90 deg*/
      background-size: 30%;
      

}
      h3 .page-anatomy{
        letter-spacing: 1px;
      }

      .stereo-side {
        width: 20%;
      }

    
      .silver-side {
        width: 10%;
    }

    .back-side {
        width: 30%;
     }

     .side-side{
      width: 30%;
     }

      @-webkit-keyframes pulse {
        0% { box-shadow:0 0 8px #F8F8F2, inset 0 0 8px #F8F8F2; }
        50% { box-shadow:0 0 16px #F8F8F2, inset 0 0 14px #F8F8F2; }
        100% { box-shadow:0 0 8px #F8F8F2, inset 0 0 8px #F8F8F2; }
      }

.halo {
    background-color:transparent;
    width:800px;
    height:800px;
    border-radius:500px;
    box-shadow: 0 0 8px #F8F8F2, inset 0 0 8px #F8F8F2;
    -webkit-animation: pulse 2s linear 1s infinite;
  }

  
  /* I want a different footer for light and dark pages, and the image is not getting small how i want it to */
.footer {
width: 10%;
  }


  .pulse a:hover{ 
    animation: pulse 2s infinite;
    animation-timing-function: linear;   
  }
  
  @keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1);
    100% { transform: scale(1); }
    }
  }


  /*menu stuff*/

  .container {
  max-width: 1050px;
  width: 90%;
  margin: auto;
}

.navbar {
  width: 100%;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

/* .menu-text{
  color:#D5A995;
  font-size: 12px;
}
*/


input[type="checkbox"] {
  content: img;
  appearance: none;
  display: block;
  width: 150px;
  height: 150px;
}

input[type="checkbox"]:checked {
  content: img;
}

.navbar .menu-items {
  display: flex;
}

.navbar .nav-container li {
  list-style: none;
}

.navbar .nav-container a {
  text-decoration: none;
  color: #D5A995;
  font-weight: 500;
  font-size: 12px;
  padding: 0.7rem;
}

.navbar .nav-container a:hover{
    font-weight: bolder;
}

.nav-container {
  display: block;
  position: relative;
  height: 60px;
}

.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 20px;
  left: 20px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.nav-container .menu-button {
  display: block;
  width: 80px;
  position: absolute;
  top: 30px;
  left: 0px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.nav-container .menu-button .line {
  display: block;
  height: 10px;
  width: 100%;
  border-radius: 0px;
  animate__pulse /* don't know how to use this*/
}



.navbar .menu-items {
  padding-top: 200px;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
  background-color: #303647;
  height: 100vh;
  width: 100vw;
  transform: translate(-150%);
  display: flex;
  flex-direction: column;
  margin-left: 0px;
  padding-left: 0px;
  transition: transform 0.5s ease-in-out;
  text-align: center;
}

.navbar .menu-items li {
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.logo {
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 1.2rem;
  color: #303647;
}

.nav-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked ~ .menu-button .line1 {
  transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked ~ .menu-button .line2 {
  transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked ~ .menu-button .line3 {
  transform: rotate(-45deg);
}

.nav-container input[type="checkbox"]:checked ~ .logo{
  display: none;
}

img .menu-items {
  width: 50px;
}

/* back to home */
.back-home{
  font-family: "Tapeman" 
}


